.novedades_card_img {
  width: 50%;
}
.novedades_card_title {
  font-size: 20px;
  padding: 1rem;
  font-weight: 700;
}
.novedades_card_cuerpo {
  width: 50%;
  margin-left: 1rem;
}

.populares_card {
  margin: 2rem;
  height: 21rem;
}
.populares_card_img {
  width: 100%;
  height: 50%;
}
.populares_card_title {
  font-size: 20px;
  font-weight: 700;
}

.box {
  border-radius: 10px;
  margin: 2rem;
}
.box_img-size {
  width: 5rem;
}
.box_name {
  width: 19rem;
  font-size: 32px;
  color: white;
}
.box_name-format {
  text-align: end;
  font-size: 32px;
  padding: 1rem 0.5rem;
}

.HTML-color {
  background-color: #e93e30;
}
.JS-color {
  background-color: #f7e018;
}
.CSS-color {
  background-color: #299ed5;
}
.React-color {
  background-color: #292c33;
}
.Vue-color {
  background-color: #67c770;
}
.Bootstrap-color {
  background-color: #563d7c;
}
